##默认布局，所有vm如果不指定layout，则使用这个布局
#*#set($ctx=${request.getContextPath()})
#set($session=${request.getSession()})
#set($user=${request.session.getAttribute("SPRING_SECURITY_CONTEXT").authentication.principal})*#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title id="title1">$!page_title</title>
#*<link rel="stylesheet" href="http://asset.xueleyun.com/g/css/global.min.css?version=${version}"/>
<script src="http://asset.xueleyun.com/g/js/global.min.js?version=${version}"></script>
<script src="http://asset.xueleyun.com/cjs/config.js?version=${version}"></script>*#
#*#parse("common/common.vm")##其它模块不一样js,css
#parse("common/pageUser.vm")*#
##实际页面的js，css
    $!script
</head>
<body>
    $screen_content
#* #parse("platform/menu.vm")
    $screen_content
    #parse("common/footer.vm")*#
</body>
</html>